# Ignore the results folder
# Results/

# Ignore the folder with data trees
Trees/

# Ignore the data folder 
Data/

# Ignore the folder with documents/articles
Documents/

# Ignore any temporary files from a local/GRID analysis
*.d
*.so
*.pcm
*.root
*.sh
*.xml
*.jdl

# Ignore also any pictures
#*.pdf
#*.png

# Ignore Libre Office tables
*.ods

# Ignore the whole STARlight folder
STARlight/

.token.txt

